spring:
  profiles:
    active: local
  batch:
    job:
      names: ${job.name:NONE}

---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:mysql://52.79.210.38:3306/house
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: taekyung
    password: rlaxorud
  jpa:
    show-sql: true
    generate-ddl: false
    hibernate:
      ddl-auto: none
  batch:
    jdbc:
      initialize-schema: ALWAYS
external:
  apartment-api:
    path: http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTrade
    service-key: XsWoixgrNXD%2BgjFOoiP1CcUGrD4H5bxbltMea9QddQrk4vrMBw0LAGAdu7fJSwIkqWuqg6t5TddCR4i2I39ekQ%3D%3D

---
spring:
  config:
    activate:
      on-profile: test
  jpa:
    database: h2
